/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #333;
    color: #fff;
}

body {
    font-family:  monospace, Arial, sans-serif;
}

hr {
    margin-top: 20px;
}

.container {
    max-width: 70%;
    margin: auto auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

h1, h2, h3 {
    padding-bottom: 20px;
}

h2 {
    font-size: 32px;
}

.social {
    margin-top: 8%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.social a {
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    margin-right: 50px;

    animation:
        entrance 3s ease-in-out,
        bounce 3s infinite;
}

@keyframes entrance {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.name h1 {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: typing 5.5s forwards;
  }
  
.name .subtitle {
    overflow: hidden;
    border-right: .15em solid rgba(0, 0, 0, 0);
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    animation: typing 3.5s forwards;
}

.experience-item{
    display: flex; flex-direction: row;
}

.project_link_icon {
    font-size: 35px;
    display: inline-block;
    transform-origin: center;
    animation: bounce 2s infinite;
    text-align: center;
    display: block;
}

.publication{
    padding-right: 30px;
    padding-left: 30px;
}

.button {
    margin-bottom: -2px;
    background-color: #ffffff;
    color: #333;
    padding : 0px 0px;
    border-radius: 60%;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    text-indent: -1px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    overflow: hidden; /* Aggiungiamo overflow:hidden per nascondere il contenuto iniziale */
    width: 20px; /* Larghezza iniziale del pulsante */
    transition: width 0.2s ease-in-out, /* Aggiungiamo una transizione alla larghezza */
                border-radius 0.2s ease-in-out;
    animation: bounce 1s infinite;
}

.button::before {
    content: "C";
    color: #333;
    display: inline;
    white-space: nowrap;
}

.button:hover {
    width: 145px; /* Espandiamo la larghezza durante l'hover */
    border-radius: 10% / 50%;
    text-indent: -3px;
    animation: none;
}

.button:hover::before {
    content: "Credentials"; /* Mostra il testo durante l'hover */
}

  
/* Animazione per il paragrafo */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
}

.social a:nth-child(1) {
    animation-delay: 0s;
}
  
.social a:nth-child(2) {
    animation-delay: 0.5s;
}

.social a:nth-child(3) {
    animation-delay: 1s;
}

.social a:nth-child(4) {
    animation-delay: 1.5s;
}

.profile {
    display: flex;
    align-items: center; /* Centra verticalmente i contenuti all'interno del display flex */
}

.profile img {
    width:  180px; /* Imposta la larghezza desiderata per l'immagine del profilo */
    height: 100%; /* Imposta l'altezza desiderata per l'immagine del profilo */
    margin-right: 20px; /* Aggiunge un margine a destra per separare l'immagine dal testo */
}

nav ul {
    list-style: none;
    padding-top: 30px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.section {
    padding: 10px 0;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.dates {
    text-align: right;
}

.experience-date {
    max-width: 200px;
    min-width: 100px;
}

.mobile_subtitle {
    display: none;
}

.blog-link {
    width: 100%;
    text-align: right;
}

.blog-link p {
    width: 100%;
    height: 100%;
    font-size: large;
    text-align: right;
    margin-top: 10%;
}

@keyframes fadeIn {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}

.certification {
    padding-left: 30px;
}

.profile-img {
    border-radius: 20%;
}

@media (max-width: 1000px) {
    
    .blog-link p {
        width: 100%;
        height: 100%;
        font-size: large;
        text-align: center;
        margin-top: 10%;
    }

    .container {
        padding: 5px; /* Riduci ulteriormente il padding per dispositivi mobili */
        max-width: 95%;
        margin: auto auto;
    }

    nav ul li {
        font-size: 16px; /* Riduci la dimensione del testo del menu su dispositivi mobili */
    }

    .profile {
        flex-direction: column;
    }

    .profile img {
        padding-bottom: 20px;
        margin: 0 auto; /* Centra l'immagine del profilo */
    }

    .name {
        text-align: center;
    }

    .social {
        text-align: center;
    }

    .social a {
        padding-left:  30px;
        padding-right: 30px;
        margin-right: 0;
    }

    .section h2{
        text-align: center;
    }

    .section p {
        text-align: center;
    }

    .school-name p{
        text-align: left;
    }

    .experience-list {
        list-style: none; padding-right: 30px;padding-left: 30px;
    }

    .experience-item p{
        text-align: center;
        align-items: center;
    }

    .experience-item {
        display: block;
    }

    .experience-date {
        font-weight: bold;
        font-size: 22px;
    }

    .dates {
        font-weight: bold; 
        flex: 1;
    }

    .details p{
        padding-bottom: 20px;
        font-weight: bold; 
        flex: 1;
    }

    .mobile_subtitle {
        display: block;
        animation: fadeIn 3.0s;
    }

    .subtitle {
        display: none;
    }

    .certification {
        padding-left: 0px;
    }

    .certification h3 a{
        display: none;
    }

}